.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-box {
    display: block;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 20px 50px;

}

.join-form {
    padding-top: 10px;

}

.text-field {
    display: block;
    margin-bottom: 3px;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

h3 {
    margin-bottom: 3px;
}

.submit-btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}