<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webtoon MOA</title>
  <!-- favicon 선언 -->
  <link rel="icon" href="/images/moa_icon.png">
  <!-- 브라우저 기본 CSS 초기화 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
  crossorigin="anonymous"></script>
  <!-- Material icons --> 
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Material+Symbols+Outlined" rel="stylesheet">
  <!-- CSS 파일 -->
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/findid.css">
</head>

<body>
  <!-- Header -->
  <div id="headers"></div>

  <!-- Find ID -->
  <section class="find-id">
    <div class="inner">

      <div class="main-title">
        <span class="title">아이디 찾기</span>
      </div>

        <div class="text-body">
          <div class="notice">
            <span class="find-title">유저명과 이메일로 확인</span>
            <span class="find-subtitle">이메일 주소와 입력한 유저명이 같아야, 인증번호를 받을 수 있습니다.</span>
          </div>

          <form method=post action='find-id'>

            <!-- 인증번호 입력받는 input -->
            <div class="row-group">
              <div class="row">
                <label for="findName" class="sub-title">유저이름</label>
                <input type="text" id="findName" name="findName" required>
              </div>
              <!-- 확인 버튼 -->
              
            </div>
            <div class="row-group">
                <div class="row">
                  <label for="fidEmail" class="sub-title">이메일</label>
                  <input type="email" id="findEmail" name="findEmail" required>
                </div>
                <!-- 인증번호 받기 버튼
                <input class="btn" type="submit" value="인증번호 받기"> -->
                <input class="btn btn--orange submit-btn" type="submit" value="확인" onClick="location.href='/views/confirmid.html'">
              </div>
          </form>
          
        </div>
     

    </div>
  </section>

  <!-- Footer -->
  <div id="footers">
    <%- include footer.ejs %>
  </div>

</body>
</html>

