<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webtoon MOA</title>
  <!-- favicon 선언 -->
  <link rel="icon" href="/images/moa_icon.png">
  <!-- 브라우저 기본 CSS 초기화 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
  crossorigin="anonymous"></script>
  <!-- Material icons --> 
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Material+Symbols+Outlined" rel="stylesheet">
  <!-- CSS 파일 -->
  <link rel="stylesheet" href="/src/public/stylesheets/common.css">
  <link rel="stylesheet" href="/src/public/stylesheets/findpw.css">
  <!-- 공통 header 연결 -->
  <script type="text/javascript">
    $(document).ready( function() {
      $("#headers").load("/src/views/header.html");  
    });
    $(document).ready( function() {
      $("#footers").load("/src/views/footer.html");  
    });
  </script>
</head>

<body>
  <!-- Header -->
  <div id="headers"></div>

  <!-- Find PW -->
  <section class="findpw">
    <div class="inner">

      <div class="main-title">
        <span class="title">비밀번호 찾기</span>
      </div>

      <form action="">
        <div class="text-body">
          <div class="notice">
            <span class="find-title">회원정보에 등록한 이메일로 인증</span>
            <span class="find-subtitle">본인확인 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.</span>
          </div>

          <div class="row-group">
            <div class="row">
              <label for="fpwId" class="sub-title">아이디</label>
              <input type="text" id="fpwId" name="fpwId" placeholder="비밀번호를 찾고자 하는 아이디를 입력하세요." required>
            </div>
          </div>

          <div class="row-group">
            <div class="row">
              <label for="fpwEmail" class="sub-title">이메일</label>
              <input type="email" id="fpwEmail" name="fpwEmail" required>
            </div>
            <!-- 인증번호 받기 버튼 -->
            <input class="btn" type="submit" value="인증번호 받기">
          </div>
          <!-- 인증번호 입력받는 input -->
          <div class="row-group">
            <div class="row">
              <input type="text" id="fpwNumber" name="fpwNumber" placeholder="인증번호를 입력하세요." required>
            </div>
            <!-- 확인 버튼 -->
            <input class="btn btn--orange submit-btn" type="submit" value="확인" onClick="location.href='/src/views/confirmpw.html'">
          </div>
        </div>
      </form>

    </div>
  </section>

  <!-- Footer -->
  <div id="footers"></div>

</body>
</html>