<body>
  <footer>
    <hr class="line">

    <div class="inner">

      <div class="logo">
        <img src="/images/moa_icon.png">
      </div> 

      <div class="info">
        <ul>
          <li><a href="https://github.com/InQ-InQ-InQ-InQ-InQ/webtoon-moa"><i class="fa-brands fa-github"></i></a></li>
          <li>InQ, webtoon-moa</li>
          <li>Frontend: 조수빈, 최소연</li>
          <li>Backend: 김해연, 성유진, 이채민</li>
          <li>제작기간: 2022.07.25 ~ 2022.08.XX</li>
        </ul>
      </div>
    
    </div>

  </footer>    
</body>