<body>
  <header>
    <div class="inner">

      <div onClick="location.href='../'" class="logo">
        <img src="/images/moa_logo.png" alt="Moa-logo" />
      </div>

      <form action="">
        <div class="search">
          <input placeholder="작가/작품명 검색" type="text" name="search" id="search" class="search-text">
          <button type="button" class="search-btn" id="search-btn" title="검색" alt="검색">
            <span class="icon material-symbols-outlined">search</span>
          </button>
        </div>
      </form>
  
      <div class="menu">
        <% if(user === undefined){ %>
          <a href="/users/sign-in" class="login_name">로그인</a>
        <% } else { %>
          <a href="/users/sign-out" class="login_name">로그아웃</a>
        <% } %>
      </div>

    </div>

    <hr class="line">
  </header>

</body>