<!DOCTYPE html>
<html lang="ko">
<head>
  <title>main</title>
  <link rel="stylesheet" href="/src/public/stylesheets/main.css">

</head>
<body>
  <div class="inner">
    <div class="view_type">
      <h3 class="sub_title">요일별 전체 웹툰</h3>
      <ul class="sortby">
        <li class="sel"><a class="sort_popular" onclick="" href="">인기순</a></li>
        <li><a class="sort_count" onclick="" href="">조회순</a></li>
        <li><a class="sort_wish" onclick="" href="">찜</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="week">
        <div class="mon"><a href="">월요 웹툰</a></div>
        <div class="tue"><a href="">화요 웹툰</a></div>
        <div class="wed"><a href="">수요 웹툰</a></div>
        <div class="thu"><a href="">목요 웹툰</a></div>
        <div class="fri"><a href="">금요 웹툰</a></div>
        <div class="sat"><a href="">토요 웹툰</a></div>
        <div class="sun"><a href="">일요 웹툰</a></div>
      </div>
      
      <div class="platform">
        <div class="all"><a href="">전체</a></div>
        <div class="naver"><a href="">네이버웹툰</a></div>
        <div class="kakao_w"><a href="">카카오웹툰</a></div>
        <div class="kakao_p"><a href="">카카오페이지</a></div>
      </div>

    </div>

    <div class="webtoon">
      <ul>
        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

        <li class="one">
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="" title="참교육">
              <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="" title="참교육">참교육</a>
            </dt>

            <dd class="author">
              <p>채용택 / 한가람</p>
            </dd>

            <!-- 찜 개수 -->
            <dd class="wish">              
              <!-- <div class="wish"> -->
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              <!-- </div> -->
            </dd>
          </dl>
        </li>

      </ul>
    </div>

  </div>
</body>
</html>