<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webtoon MOA</title>
  <!-- favicon 선언 -->
  <link rel="icon" href="/images/moa_icon.png">
  <!-- 브라우저 기본 CSS 초기화 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
  crossorigin="anonymous"></script>
  <!-- Material icons --> 
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Material+Symbols+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- CSS 파일 -->
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!-- JS 파일 -->
  <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script>
  <script defer src="/javascripts/main.js"></script>
  
  <!-- 공통 header 연결 -->
  <script type="text/javascript">
    $(document).ready( function() {
      $("#headers").load("/static/header.ejs");  
    });
    $(document).ready( function() {
      $("#footers").load("/static/footer.ejs");  
    });
  </script>
</head>
<body>

  <!-- Header -->
  <div id="headers"></div>

  <section class="main">
    <div class="inner">

      <div class="view_type">
        <div class="sub_title">요일별 웹툰</div>
        <ul class="sortby">
          <li class="sort" value="1">
            <div id="popular" class="popular">인기순</div>
          </li>
          <li class="sort" value="2">
            <div id="count" class="count">조회순</div>
          </li>
          <!-- <a class="sort_popular" href=""></a>
          <a class="sort_count" onclick="" href=""></a> -->
          <li class="sort2">
            <!-- <a class="sort_wish" onclick="" href=""> -->
              <div class="wish" value="wish">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">
                  <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                    <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                      <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart" fill="#AAB8C2"/>
                      <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>
            
                      <g id="grp7" opacity="0" transform="translate(7 6)">
                        <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                        <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                      </g>
            
                      <g id="grp6" opacity="0" transform="translate(0 28)">
                        <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                        <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                      </g>
            
                      <g id="grp3" opacity="0" transform="translate(52 28)">
                        <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                        <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                      </g>
            
                      <g id="grp2" opacity="0" transform="translate(44 6)">
                        <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                        <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                      </g>
            
                      <g id="grp5" opacity="0" transform="translate(14 50)">
                        <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                        <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                      </g>
            
                      <g id="grp4" opacity="0" transform="translate(35 50)">
                        <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                        <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                      </g>
            
                      <g id="grp1" opacity="0" transform="translate(24)">
                        <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                        <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                      </g>
                    </g>
                  </svg>
                </label>
              </div>
            <!-- </a> -->
          </li>
        </ul>
      </div>
      <hr>

      <div class="content">
        <div class="week">
          <button class="week-button btn" value="mon">월요일</button>
          <button class="week-button btn" value="tue">화요일</button>
          <button class="week-button btn" value="wed">수요일</button>
          <button class="week-button btn" value="thu">목요일</button>
          <button class="week-button btn" value="fri">금요일</button>
          <button class="week-button btn" value="sat">토요일</button>
          <button class="week-button btn" value="sun">일요일</button>
        </div>
        
        <div class="platform">
          <div class="platform-box">
            <input type="radio" name="chk_platform" id="radio1" value="all" checked><label for="radio1">전체</label>
            <!-- onclick="location.href=''"> -->
          </div>
          <div class="platform-box">
            <input type="radio" name="chk_platform" id="radio2" value="naverwebtoon"><label for="radio2">네이버웹툰</label>
          </div>
          <div class="platform-box">
            <input type="radio" name="chk_platform" id="radio3" value="kakaowebtoon"><label for="radio3">카카오웹툰</label>
          </div>
          <div class="platform-box">
            <input type="radio" name="chk_platform" id="radio4" value="kakaopage"><label for="radio4">카카오페이지</label>
          </div>
        </div>

      </div>
      <hr>

      <div class="webtoon">
        <ul id="webtoon_list">

        </ul>
      </div>

    </div>

  </section>
  <!-- Footer -->
  <div id="footers"></div>
  <!-- <script src="/src/main.js"></script> -->
</body>
</html>
<!-- 


<div class="webtoon">
  <ul id="webtoon_list">
    <li class="one" + id>
      <div class="thumbnail" + id>
        <a href="">
          <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
        </a>
      </div>

      <dl>
        <dt>
          <a href="" title="참교육">참교육</a>
        </dt>

        <dd class="author" + id>
          <p>채용택 / 한가람</p>
        </dd>

        <dd class="wish" + id>              
            <span class="heart">
              <em style="width:98.56%">찜</em>
            </span>
            <strong>10</strong>
        </dd>
      </dl>
    </li>


    <li class="one">
      <div class="thumbnail">
        <a href="" title="참교육">
          <img src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육">
        </a>
      </div>

      <dl>
        <dt>
          <a href="" title="참교육">참교육</a>
        </dt>

        <dd class="author">
          <p>채용택 / 한가람</p>
        </dd>

        <dd class="wish">              
            <span class="heart">
              <em style="width:98.56%">찜</em>
            </span>
            <strong>10</strong>
        </dd>
      </dl>
    </li> -->
