<!DOCTYPE html>
<html lang="ko">
<head>
  <title>main</title>
  <link rel="stylesheet" href="/src/public/stylesheets/main.css">

</head>
<body>
  <div class="inner">
    <div class="view_type">
      <h3 class="sub_title">요일별 전체 웹툰</h3>
      <ul class="sortby">
        <li class="sel"><a class="sort_popular" onclick="" href="">인기순</a></li>
        <li><a class="sort_count" onclick="" href="">조회순</a></li>
        <li><a class="sort_wish" onclick="" href="">찜</a></li>
      </ul>
    </div>

    <div class="content">
      <div class="week">
        <h4 class="mon"><span>월요 웹툰</span></h4>
        <h4 class="tue"><span>화요 웹툰</span></h4>
        <h4 class="wed"><span>수요 웹툰</span></h4>
        <h4 class="thu"><span>목요 웹툰</span></h4>
        <h4 class="fri"><span>금요 웹툰</span></h4>
        <h4 class="sat"><span>토요 웹툰</span></h4>
        <h4 class="sun"><span>일요 웹툰</span></h4>
      </div>
      
      <div class="platform">
        <ul class="platform_ul">
          <li class="sel"><a onclick="nclk_v2(event,'sor.user')" href="/webtoon/weekday?order=User"><span class="Ntxt_popular">전체</span></a></li>
          <li><a onclick="nclk_v2(event,'sor.upd')" href="/webtoon/weekday?order=Update"><span class="Ntxt_update">네이버웹툰</span></a></li>
          <li><a onclick="nclk_v2(event,'sor.cnt')" href="/webtoon/weekday?order=ViewCount"><span class="Ntxt_count">카카오웹툰</span></a></li>
          <li><a onclick="nclk_v2(event,'sor.sta')" href="/webtoon/weekday?order=StarScore"><span class="Ntxt_wish_rate">카카오페이지</span></a></li>
        </ul>
      </div>
    </div>

    <div class="webtoon">
      <ul>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
        <li>
          <!-- 썸네일 이미지 -->
          <div class="thumbnail">
            <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">
              <img onerror="this.src='https://ssl.pstatic.net/static/comic/images/migration/common/blank.gif'" src="https://shared-comic.pstatic.net/thumb/webtoon/758037/thumbnail/thumbnail_IMAG10_a2297504-4912-4c7e-a5a8-524d6fc77103.jpg" width="83" height="90" title="참교육" alt="참교육">
            </a>
          </div>

          <!-- 제목, 작가 -->
          <dl>
            <dt>
              <a href="/webtoon/list?titleId=758037&amp;weekday=mon" title="참교육">참교육</a>
            </dt>

            <dd class="desc">
              <a href="#" onclick="return artistAction.viewArtist('758037', this)">채용택 / 한가람</a>
            </dd>

            <!-- 찜 개수 -->
            <dd>              
              <div class="wish">
                <span class="heart">
                  <em style="width:98.56%">찜</em>
                </span>
                <strong>10</strong>
              </div>
            </dd>
          </dl>

        </li>
      </ul>
    </div>

  </div>
</body>
</html>