.main {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.view_type {
  position: relative;
  width: 100%;
  height: 50px;
  padding-bottom: 8px;
  /* margin: 22px 0 0;
  padding: 30px; */
  border: 1px solid red;
  /* border-bottom: 1px solid #eaeaea; */
}
.view_type .sub_title {
  float: left;
  /* font-size: 16px; */
  /* line-height: 0px; */
  color: black;
  /* padding-bottom: 20px; */
  border: 1px solid red;
  margin-top: 0px;
  font-size: var(--sub-title-font);
  margin-bottom: 25px;
  color: var(--moa-blue);
  font-weight: 700;
}
.view_type .sortby {
  float: right;
  list-style: none;
  padding-left: 0px;
  margin-top: 32px;

  border: 1px solid red;
  font-size: var(--mideum-font);

}

.sortby li {
  float: left;
  padding-left: 10px;
  text-decoration: none;
  font-size: var(--mideum-font);
}
/* .sortby li.selected {
  color: var(--moa-blue);
} */

.clicked {
  color: black;
}


/* 
li .sort_popular, li .sort_count, li .sort_wish {  
  display: inline-block;
  text-decoration: none;
  width: 10px;
  height: 10px;
} */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;


  border: 1px solid blue;
}
.content .week {
  width: 100%;
  display: flex;
  flex-direction: row;

  border: 0.5px solid green;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun {
  /* justify-content: space-between; */
  justify-content: center;

  /* padding: 30px; */
  /* margin: 20px; */
  margin: auto;

  border: 0.3px solid green;
}

.content .platform {
  width: 100%;
  display: flex;
  flex-direction: row;

  border: 1px solid yellowgreen;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: inline-block;
}

input[type=radio]:checked + label {
  background: var(--moa-blue);
}



.platform div {
  justify-content: space-between;
  padding: 5px;
  margin: auto;

  border: 0.3px solid red; 
}

.webtoon {
  width: 100%;
  border: 0.5px solid green;
}

.webtoon ul {
  width: 100%;
  padding-left: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.webtoon .one {
  margin-bottom: 20px;
  width: 33%;
  border: 0.5px solid var(--moa-blue);
}

.webtoon li .thumbnail {
  float: left;
}

.webtoon .one dl {
  margin-top: 7px;
  margin-left: 10px;
  float: left;
}

.webtoon .one .author, .wish {
  margin-left: 0px;
}

.author p {
  margin: 0px;
}



