.signup {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.signup .main-title {
  font-size: var(--sub-title-font);
  margin-bottom: 25px;
}
.signup .main-title .title {
  color: var(--moa-blue);
  font-weight: 700;
}
.signup .text-body {
  
}
.signup .text-body .row {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.signup .text-body .row .sub-title {
  font-weight: 600;
  color: var(--moa-blue);
  margin-bottom: 10px;
}
.signup .text-body .row input {
  width: 400px;
  height: 40px;
  color: var(--moa-blue);
  border: 1px solid var(--moa-blue);
  border-radius: 3px;
  padding-left: 8px;
}
/* .signup .text-body .row .error-box {
  display: block;
  color: red;
  font-size: var(--small-font);
  margin-top: 5px;
} */
.signup .text-body .btn-row {
  margin-top: 45px;
}
.signup .text-body .btn-row .btn {
  font-size: var(--large-font);
  width: 412px;
  height: 55px;
}